rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email in ['mehtavedant99@gmail.com']
        && request.auth.token.email_verified == true;
    }
    match /feedback/{doc} {
      allow create: if true;
      allow read:   if isAdmin();
    }
    match /builds/{doc} {
      allow create: if true;
      allow read:   if isAdmin();
    }
  }
}
